.hero{
    width:auto;
    height: 100vh;
    background: #368bda;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}
.left{
    width: 100%;
    padding: 20px;
}
.left h1{
    font-size: 40px;
    margin-bottom: 10px;
}
.left p{
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;
}
.green-btn{
    background: #32cd32;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 16px;

}
.right{
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;

}
.form-box{
    background: white;
    width:400px;
    height: 300px;
    padding:10px;
    border-radius: 5px;
    color: #333;

}


.submit-btn{
    width: 100;
    padding: 12px;
    background: #0b74d4;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 10px;
    margin-top: 10px;
}
