 body {
margin: 0;
font-family: 'Poppins', sans-serif;
background-size: cover;
background-position: center;
}


.header-container {
background-color: rgba(255, 255, 255, 0.9);
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 20px;

}
.logo-container {
display: flex;
align-items: center;
gap: 10px;
}


.logo {
width: 120px;
border: 3px solid maroon;
border-radius: 10px;
}
 .nav-links a {
margin: 0 18px;
text-decoration: none;
color: maroon;
font-weight: bold;
font-size: 18px;
}

 .navbar {
     text-decoration: none;
     color: white;
     margin: 0 15px;
     font-size: 18px;
     font-weight: bold;
 }

 .nav-links a:hover {
     color: #d61a69;
 }


 
 .hero {

     height: 60vh;
     color: white;
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
     text-shadow: 2px 2px 5px black;
     padding: 20px;
     
 }

 .hero h1 {
     font-size: 50px;
     margin-bottom: 10px;
 }

 .hero button {
     padding: 12px 25px;
     background: #ffb703;
     border: none;
     color: #000;
     cursor: pointer;
     font-size: 18px;
     border-radius: 5px;
 }

 .container {
     width: 90%;
     margin: auto;
     padding: 20px 0;
 }

 
 .about {
     display: flex;
     gap: 20px;
     margin-top: 40px;
 }

 .about div {
     flex: 1;
     background: white;
     padding: 20px;
     border-radius: 8px;
     box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
 }
 .grid {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 20px;
     margin-top: 40px;
 }

 .item {
     background: white;
     padding: 15px;
     text-align: center;
     border-radius: 8px;
     box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
 }

 .item img {
     width: 100%;
     height: 220px;
     object-fit: cover;
     border-radius: 8px;
     margin-bottom: 10px;
 }

 /* TABLE */
 table {
     width: 100%;
     border-collapse: collapse;
     background: white;
     margin-top: 40px;
     border-radius: 8px;
     overflow: hidden;
 }

 th,
 td {
     padding: 12px;
     border: 1px solid #ddd;
     text-align: center;
 }

 th {
     background: #ff7f51;
     color: white;
 }

 
 form {
     background: white;
     padding: 20px;
     border-radius: 8px;
     margin-top: 40px;
     box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
 }

 input,
 textarea,
 button {
     width: 100%;
     padding: 10px;
     margin-top: 12px;
     border-radius: 5px;
     border: 1px solid #bbb;
 }

 button {
     background: #e63946;
     color: white;
     border: none;
     font-size: 17px;
     cursor: pointer;
 }

 button:hover {
     background: #ba2835;
 }