

body {
  margin: 0;
  font-family: Arial, sans-serif;


  
  background: url("https://images.unsplash.com/photo-1502877338535-766e1452684a")
              no-repeat center center/cover;
}


.car-header {
  background: rgba(0, 0, 0, 0.65);
  color: white;
  text-align: center;
  padding: 60px 20px;
}

.car-header h1 {
  margin-bottom: 10px;
}


.car-content {
  background: rgba(255, 255, 255, 0.9);
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 12px;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}


.cars-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 40px;
  flex-wrap: wrap;
}


.car-card {
  background: rgba(255, 255, 255, 0.95);
  width: 280px;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
}


.car-card img {
  width: 100%;
  height: 170px;
  border-radius: 12px;
  object-fit: cover;
}

.price {
  font-size: 18px;
  color: #0984e3;
  font-weight: bold;
}
button {
  margin-top: 10px;
  padding: 10px 15px;
  background: #003580;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #0051a8;
}


.back-home {
  display: block;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
  text-decoration: none;
}
