body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('https://images.unsplash.com/photo-1501785888041-af3ef285b470') no-repeat center/cover;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}



.resort-header {
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.resort-header h1 {
    margin-bottom: 10px;
}


.resort-content {
    background: rgba(255, 255, 255, 0.9);
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    line-height: 1.6;
}


.resort-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 40px;
    flex-wrap: wrap;
}

.resort-card {
    background: rgba(255, 255, 255, 0.95);
    width: 280px;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}


.resort-card img {
    width: 100%;
    height: 180px;
    border-radius: 12px;
    object-fit: cover;
}


.price {
    font-size: 18px;
    color: #0984e3;
    font-weight: bold;
}


button {
    margin-top: 10px;
    padding: 10px 15px;
    background: #003580;
    color: white;
    border: none;
    border-radius: 6px;

}

button:hover {
    background: #0051a8;
}


.back-home {
    display: block;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: none;
}