body {
    margin: 0;
    font-family: Arial;
    background: #f2f6ff;
}

.hero {
    background: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e') center/cover;
    color: white;
    text-align: center;
    padding: 60px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

.search {
    background: white;
    width: 70%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

input,
select,
button {
    padding: 10px;
    margin: 5px;
}

button {
    background: #003580;
    color: white;
    border: none;
    cursor: pointer;
}