body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('https://images.unsplash.com/photo-1500530855697-b586d89ba3ee') no-repeat center/cover;
}
nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}


.tourism-header {
    background: rgba(0, 0, 0, 0.65);
    color: white;
    text-align: center;
    padding: 60px 20px;
}


.tourism-content {
    background: rgba(255, 255, 255, 0.9);
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}


.tourism-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 40px;
    flex-wrap: wrap;
}


.tourism-card {
    background: rgba(255, 255, 255, 0.95);
    width: 260px;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}


.price {
    font-size: 18px;
    color: #0984e3;
    font-weight: bold;
}


button {
    margin-top: 10px;
    padding: 10px 15px;
    background: #003580;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


.back-home {
    display: block;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: none;
}