* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background: linear-gradient(to bottom, #edc2cc, #c7b5d6);
    text-align: center;
}


.header {
    padding: 40px 20px;
    background: #ffffffa8;
    border-radius: 10px;
    border: 3px solid #4b2c5e;
    width: 100%;
    margin: 25px auto;
}

.header h1 {
    font-size: 20px;
    color: #4b2c5e;
}

.header p {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}


.cards {
    margin: 30px auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.card {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.card h3 {
    color: #4b2c5e;
    margin-bottom: 10px;
    font-size: 20px;
}
#prev-page{
    padding: 20px;
    background-color: #c7b5d6;
    font-weight: bold;
    float: left;

}
#next-page{
    padding: 20px;
    background-color: #c7b5d6;
    font-weight: bold;
    float: right;
}







footer {
    margin-top: 40px;
    padding: 20px;
    background: #4b2c5e;
    color: #fff;
}
