
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7fbff;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 70px;
    background: #200045;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.nav-links .active {
    color: #007aff;
    font-weight: bold;
}


.blog-hero {
    height: 45vh;
    background: url('https://images.unsplash.com/photo-1553729459-efe14ef6055d?auto=format&fit=crop&w=1600&q=80')
                center/cover no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.blog-hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);  
}

.blog-hero-content {
    position: relative;
    text-align: center;
    z-index: 2;
}

.blog-hero-content h1 {
    font-size: 46px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.blog-hero-content p {
    font-size: 18px;
    color: #f2f2f2;
}

.blog-section {
    padding: 60px 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 35px;
}


.blog-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0,0,0,0.15);
    transition: 0.4s;
}

.blog-card:hover {
    transform: translateY(-10px);
}


.img-box {
    overflow: hidden;
    height: 230px;
}

.img-box img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    transition: transform 0.5s;
}

.img-box:hover img {
    transform: scale(1.12);
}

.content {
    padding: 20px;
}

.content h3 {
    font-size: 22px;
    color: #007aff;
    margin-bottom: 10px;
}

.content p {
    font-size: 15px;
    color: #444;
    margin-bottom: 15px;
    line-height: 1.5;
}

.read-more {
    text-decoration: none;
    color: #00bcd4;
    font-weight: 600;
    transition: 0.3s;
}

.read-more:hover {
    color: #007aff;
}


.footer {
    text-align: center;
    padding: 25px;
    background: #0b0f3b;
    color: white;
    margin-top: 40px;
}

.footer .social i {
    margin: 0 10px;
    font-size: 20px;
    transition: 0.3s;
}

.footer .social i:hover {
    color: #00bcd4;
}
