* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #2a0066;
    color: #ffffff;
    overflow-x: hidden;
}


.navbar {
    width: 100%;
    padding: 25px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;


    background: transparent;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;

}

.logo img {
    width: 40px;

}

.logo span {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;

    letter-spacing: 1px;
}



.navbar nav a {
    margin: 0 20px;
    color: #e8dcff;

    font-size: 15px;
    text-decoration: none;
    font-weight: 300;
    transition: 0.3s;
}

.navbar nav a:hover {
    color: #ff7aa8;

}

.trade-btn {
    padding: 10px 22px;
    border-radius: 30px;
    background: transparent;
    border: 2px solid #ff6e91;
    color: #ff6e91;
    font-weight: 600;

    transition: 0.3s;
}

.trade-btn:hover {
    background: #ff6e91;
    color: #fff;
}




.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
    padding-bottom: 120px;
    position: relative;
    background: linear-gradient(145deg, #2a0066, #120033);
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.6;
}

.hero-text p {
    margin: 18px 0;
    max-width: 360px;
    color: #d9caff;
}

.btn {
    background: #ff6f91;
    border: none;
    padding: 13px 26px;
    border-radius: 30px;

    font-size: 16px;
    color: #fff;
    margin-top: 15px;
}

.hero-img img {
    width: 420px;
}

.hero-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 160px;
    z-index: 0;
}

.mouse {
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 35px;
    height: 60px;
    border: 2px solid white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.scroll {
    width: 4px;
    height: 10px;
    background: white;
    border-radius: 2px;
    animation: scrollAnim 1.2s infinite;
}

@keyframes scrollAnim {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(15px);
        opacity: 0.5;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.prices {
    padding: 60px 80px;
    background: #200045;
}

.prices h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: 800;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #2e005f;
    border-radius: 12px;
    overflow: hidden;
}

thead {
    background: #3b0078;
}

thead th {
    padding: 15px;
    text-align: left;
    font-size: 14px;
    color: #c9b4ff;
}

tbody td {
    padding: 15px;
    font-size: 14px;
    border-bottom: 1px solid #44008c;
}

tbody tr:hover {
    background: #36007a;
}

.coin img,
.Ethereum img,
.Cardano img,
.Tether img,
.Avalanche img,
.Algorand img {
    width: 22px;
    margin-right: 12px;
}

.coin span,
.Ethereum span,
.Cardano span,
.Tether span,
.Avalanche span,
.Algorand span {
    font-size: 12px;
    opacity: 0.7;
    margin-left: 6px;
}

.up {
    color: #00ff88;
    font-weight: 600;
}

.down {
    color: #ff4560;
    font-weight: 600;
}

.graph {
    width: 120px;
}


.features {
    background: #f6efff;
    padding: 70px 80px;
    color: #1e0033;
}

.features h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 50px;
}

.feature-boxes {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.box {
    width: 30%;
    text-align: center;
}

.box img {
    width: 60px;
    margin-bottom: 20px;
}

.box h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #330066;
}

.box p {
    color: #4b2a6f;
    font-size: 14px;
    margin: 6px 0;
}


.trusted {
    background: white;
    padding: 60px 80px;
    text-align: center;
}

.trusted h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
}

.trusted-boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.trusted h2,
.tbox h3,
.tbox p {
    color: #000;

}


.tbox {
    width: 30%;
    text-align: left;
}

.tbox img {
    width: 150px;
    margin-bottom: 15px;
}


.download {
    background: #1a0048;
    color: #fff;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download-text {
    width: 50%;
}

.download-text h2 {
    font-size: 40px;
    line-height: 1.4;
}

.download-text h3 {
    font-size: 30px;
}

.download-text p {
    margin-top: 30px;
    opacity: 0.8;
}

.stores {
    margin-top: 30px;
}

.store {
    width: 150px;
    margin-right: 30px;
}

.download-img img {
    width: 500px;
}



.learn-section {
    background: #fdefff;
    padding: 50px 0;
}

.learn-title {
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #000;
}

.learn-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.learn-card {
    width: 380px;
    background: #fff;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.12);
}

.learn-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 22px;
}

.card-content h3 {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-bottom: 12px;
}

.card-content p {
    font-size: 15px;
    color: #555;
    margin-bottom: 18px;
}

.card-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #555;
}

.subscribe-section {
    text-align: center;
    padding: 60px 20px;
    background: #160042;

    color: white;
}

.subscribe-section h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
}

.subscribe-section p {
    font-size: 24px;
    margin-bottom: 40px;
}


.subscribe-box {
    width: 600px;
    margin: auto;
    background: transparent;
    padding: 8px;
    border: 2px solid white;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe-box input {
    flex: 1;
    padding: 15px 20px;
    border: none;
    background: transparent;
    color: white;
    outline: none;
    font-size: 16px;
}

.subscribe-box input::placeholder {
    color: #ccc;
}

.subscribe-box button {
    padding: 15px 30px;
    background: #ff6a68;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 16px;

    font-weight: 600;
}

.subscribe-box button:hover {
    background: #ff5350;
}


.footer {
    background: linear-gradient(to right, #230046, #40006f);
    color: #dcdcdc;
    padding: 50px 80px;
    font-family: Arial, sans-serif;
}


.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.footer-column h3 {
    color: white;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
}


.footer-column p {
    color: #c9c9c9;
    font-size: 20px;
    margin: 8px 0;

}

.footer-column p:hover {
    color: #fff;
}


footer hr {
    border: 0;
    border-top: 1px solid #7a4c98;
    margin-top: 40px;
    margin-bottom: 25px;
}


.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-bottom p {
    font-size: 15px;
    color: #dcdcdc;
}


.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons i {
    width: 38px;
    height: 38px;
    border: 2px solid #8c5ba8;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}


.social-icons i:hover {
    background: #ff6f91;
    border-color: #ff6f91;
    box-shadow: 0px 0px 8px #ff6f91;
    transform: translateY(-4px);
}